name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: FedericoCarboni/setup-ffmpeg@v3
      id: setup-ffmpeg
      with:
        linking-type: static
        # As of version 3 of this action, builds are no longer downloaded from GitHub
        # except on Windows: https://github.com/GyanD/codexffmpeg/releases.
        github-token: ${{ github.server_url == 'https://github.com' && github.token || '' }}
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2.7.7
      with:
        cache-all-crates: "true"
    - name: Clippy
      run: cargo clippy --all-features --all-targets -- -Dwarnings -Dclippy::pedantic
