name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: libavcodec-dev libavformat-dev libavutil-dev libavfilter-dev libavdevice-dev
    - name: Rust Cache
      uses: Swatinem/rust-cache@v2.7.7
      with:
        cache-all-crates: "true"
    - name: Clippy
      run: cargo clippy --all-features --all-targets -- -Dwarnings -Dclippy::pedantic
